[submodule "nanopass-framework-scheme"]
	path = nanopass-framework-scheme
	url = https://github.com/nanopass/nanopass-framework-scheme.git
	ignore = dirty
[submodule "lalr-scm"]
	path = lalr-scm
	url = https://github.com/rootmos/lalr-scm.git
	ignore = dirty
